{
    "openapi": "3.0.0",
    "info": {
        "title": "GIMA API Documentation",
        "description": "Documentación de la API para el Sistema de Gestión Integral de Mantenimiento de Activos (GIMA)",
        "contact": {
            "email": "support@gima.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/admin/auditorias": {
            "get": {
                "tags": [
                    "Administración - Auditorías"
                ],
                "summary": "Obtener una lista paginada de registros de auditoría",
                "operationId": "7c29c0a613670ec049cce49bc2cbe137",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número de página",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de auditorías obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Auditoria"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Administración - Auditorías"
                ],
                "summary": "Crear un nuevo registro de auditoría",
                "operationId": "fa48f6557d20aa9043b819fc76b9bfbf",
                "requestBody": {
                    "description": "Datos de la auditoría a crear",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "usuario_id",
                                    "entidad",
                                    "entidad_id",
                                    "accion",
                                    "fecha"
                                ],
                                "properties": {
                                    "usuario_id": {
                                        "type": "integer"
                                    },
                                    "entidad": {
                                        "type": "string"
                                    },
                                    "entidad_id": {
                                        "type": "integer"
                                    },
                                    "accion": {
                                        "type": "string"
                                    },
                                    "descripcion": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "fecha": {
                                        "type": "string",
                                        "format": "date"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Registro de auditoría creado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Auditoria"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/auditorias/{id}": {
            "get": {
                "tags": [
                    "Administración - Auditorías"
                ],
                "summary": "Obtener un registro de auditoría por ID",
                "operationId": "cdcc79c1e0db1c1be0ec0df6fc465199",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalle del registro de auditoría",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Auditoria"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    },
                    "404": {
                        "description": "Registro no encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Administración - Auditorías"
                ],
                "summary": "Actualizar un registro de auditoría",
                "operationId": "9044fddb9fd4c124880084f23c64486e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Datos de la auditoría a actualizar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "usuario_id": {
                                        "type": "integer"
                                    },
                                    "entidad": {
                                        "type": "string"
                                    },
                                    "entidad_id": {
                                        "type": "integer"
                                    },
                                    "accion": {
                                        "type": "string"
                                    },
                                    "descripcion": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "fecha": {
                                        "type": "string",
                                        "format": "date"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Registro de auditoría actualizado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Auditoria"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    },
                    "404": {
                        "description": "Registro no encontrado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Administración - Auditorías"
                ],
                "summary": "Eliminar un registro de auditoría",
                "operationId": "a17a307833cd9b8ad6e0eb752842cf3c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Registro eliminado exitosamente"
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    },
                    "404": {
                        "description": "Registro no encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/direcciones": {
            "get": {
                "tags": [
                    "Administración - Direcciones"
                ],
                "summary": "Obtener una lista paginada de direcciones",
                "operationId": "9bde9437c10757b793d8195f72189e0e",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número de página para la paginación",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de direcciones obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Direccion"
                                            }
                                        },
                                        "links": {
                                            "description": "Enlaces de paginación",
                                            "type": "object"
                                        },
                                        "meta": {
                                            "description": "Metadatos de paginación",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado (sin permiso 'gestion maestra')"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Administración - Direcciones"
                ],
                "summary": "Crear una nueva dirección",
                "operationId": "753a9f01511c1ab9ad8484d0e36072d8",
                "requestBody": {
                    "description": "Datos de la dirección a crear",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "estado",
                                    "ciudad",
                                    "sector",
                                    "sede"
                                ],
                                "properties": {
                                    "estado": {
                                        "description": "Estado de la dirección",
                                        "type": "string",
                                        "example": "California"
                                    },
                                    "ciudad": {
                                        "description": "Ciudad de la dirección",
                                        "type": "string",
                                        "example": "Los Angeles"
                                    },
                                    "sector": {
                                        "description": "Sector o barrio de la dirección",
                                        "type": "string",
                                        "example": "Downtown"
                                    },
                                    "calle": {
                                        "description": "Calle de la dirección",
                                        "type": "string",
                                        "example": "Main Street",
                                        "nullable": true
                                    },
                                    "sede": {
                                        "description": "Sede o nombre del lugar",
                                        "type": "string",
                                        "example": "Oficina Central"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Dirección creada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Direccion"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado (sin permiso 'gestion maestra')"
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/direcciones/{id}": {
            "get": {
                "tags": [
                    "Administración - Direcciones"
                ],
                "summary": "Obtener una dirección por ID",
                "operationId": "e871dc4eb238cf0295396af458091b61",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la dirección a obtener",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalle de la dirección obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Direccion"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado (sin permiso 'gestion maestra')"
                    },
                    "404": {
                        "description": "Dirección no encontrada"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Administración - Direcciones"
                ],
                "summary": "Actualizar una dirección existente",
                "operationId": "19cdc24d8308223c0ed5f35e9b73dc82",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la dirección a actualizar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Datos de la dirección a actualizar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "estado": {
                                        "description": "Estado de la dirección",
                                        "type": "string",
                                        "example": "California"
                                    },
                                    "ciudad": {
                                        "description": "Ciudad de la dirección",
                                        "type": "string",
                                        "example": "Los Angeles"
                                    },
                                    "sector": {
                                        "description": "Sector o barrio de la dirección",
                                        "type": "string",
                                        "example": "Downtown"
                                    },
                                    "calle": {
                                        "description": "Calle de la dirección",
                                        "type": "string",
                                        "example": "Main Street",
                                        "nullable": true
                                    },
                                    "sede": {
                                        "description": "Sede o nombre del lugar",
                                        "type": "string",
                                        "example": "Oficina Central"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Dirección actualizada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Direccion"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado (sin permiso 'gestion maestra')"
                    },
                    "404": {
                        "description": "Dirección no encontrada"
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "The given data was invalid."
                                        },
                                        "errors": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Administración - Direcciones"
                ],
                "summary": "Eliminar una dirección",
                "operationId": "a9435788208db4bb3cdc701e9b638248",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la dirección a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Dirección eliminada exitosamente (sin contenido de respuesta)"
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado (sin permiso 'gestion maestra')"
                    },
                    "404": {
                        "description": "Dirección no encontrada"
                    },
                    "409": {
                        "description": "Conflicto: No se puede eliminar la dirección porque tiene recursos asociados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "No se puede eliminar la dirección porque tiene ubicaciones o repuestos asociados."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/ubicaciones": {
            "get": {
                "tags": [
                    "Administración - Ubicaciones"
                ],
                "summary": "Obtener una lista paginada de ubicaciones",
                "operationId": "a4a698059169b11bdeb29e7de618bfb5",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número de página para la paginación",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de ubicaciones obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Ubicacion"
                                            }
                                        },
                                        "links": {
                                            "description": "Enlaces de paginación",
                                            "type": "object"
                                        },
                                        "meta": {
                                            "description": "Metadatos de paginación",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Administración - Ubicaciones"
                ],
                "summary": "Crear una nueva ubicación",
                "operationId": "048ef4a93548805ee06af553e531519c",
                "requestBody": {
                    "description": "Datos de la ubicación a crear",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "direccion_id"
                                ],
                                "properties": {
                                    "direccion_id": {
                                        "description": "ID de la dirección a la que pertenece",
                                        "type": "integer"
                                    },
                                    "edificio": {
                                        "description": "Nombre o número del edificio",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "piso": {
                                        "description": "Piso de la ubicación",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "salon": {
                                        "description": "Salón u oficina específica",
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Ubicación creada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ubicacion"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/ubicaciones/{id}": {
            "get": {
                "tags": [
                    "Administración - Ubicaciones"
                ],
                "summary": "Obtener una ubicación por ID",
                "operationId": "51db22018b2817726ccee4876a587084",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la ubicación a obtener",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalle de la ubicación obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ubicacion"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    },
                    "404": {
                        "description": "Ubicación no encontrada"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Administración - Ubicaciones"
                ],
                "summary": "Actualizar una ubicación existente",
                "operationId": "dc2739634544403b5e78609ff55879c4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la ubicación a actualizar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Datos de la ubicación a actualizar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "direccion_id": {
                                        "description": "ID de la dirección a la que pertenece",
                                        "type": "integer"
                                    },
                                    "edificio": {
                                        "description": "Nombre o número del edificio",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "piso": {
                                        "description": "Piso de la ubicación",
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "salon": {
                                        "description": "Salón u oficina específica",
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ubicación actualizada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Ubicacion"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    },
                    "404": {
                        "description": "Ubicación no encontrada"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Administración - Ubicaciones"
                ],
                "summary": "Eliminar una ubicación",
                "operationId": "e3eccedf71f79a5e5727680512b7b554",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID de la ubicación a eliminar",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Ubicación eliminada exitosamente"
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    },
                    "404": {
                        "description": "Ubicación no encontrada"
                    },
                    "409": {
                        "description": "Conflicto: No se puede eliminar porque tiene activos asociados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/users": {
            "get": {
                "tags": [
                    "Administración - Usuarios"
                ],
                "summary": "Obtener una lista paginada de usuarios",
                "operationId": "9ded17315e13756cd593b5840cd39a26",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número de página",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de usuarios obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/User"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Administración - Usuarios"
                ],
                "summary": "Crear un nuevo usuario",
                "operationId": "f6f90d5fbbe24f66eb2b43901e0d3f38",
                "requestBody": {
                    "description": "Datos del usuario a crear",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 8
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 8
                                    },
                                    "telefono": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "estado": {
                                        "type": "string",
                                        "enum": [
                                            "activo",
                                            "inactivo",
                                            "pendiente",
                                            "rechazado"
                                        ]
                                    },
                                    "roles": {
                                        "description": "Array de nombres de roles a asignar",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "Admin",
                                            "Tecnico"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Usuario creado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/admin/users/{id}": {
            "get": {
                "tags": [
                    "Administración - Usuarios"
                ],
                "summary": "Obtener un usuario por ID",
                "operationId": "c6ac2250cb22823f621026268b66f471",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del usuario",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalle del usuario",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    },
                    "404": {
                        "description": "Usuario no encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Administración - Usuarios"
                ],
                "summary": "Actualizar un usuario existente",
                "operationId": "22692373e5a35c609175c1e6441b58ca",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del usuario",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Datos del usuario a actualizar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john.doe@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 8,
                                        "nullable": true
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 8,
                                        "nullable": true
                                    },
                                    "telefono": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "estado": {
                                        "type": "string",
                                        "enum": [
                                            "activo",
                                            "inactivo",
                                            "pendiente",
                                            "rechazado"
                                        ]
                                    },
                                    "roles": {
                                        "description": "Array de nombres de roles a sincronizar",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": [
                                            "Tecnico"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Usuario actualizado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    },
                    "404": {
                        "description": "Usuario no encontrado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Administración - Usuarios"
                ],
                "summary": "Eliminar un usuario",
                "operationId": "fdbad6312957544572f3b379b96abad0",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID del usuario",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Usuario eliminado exitosamente"
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    },
                    "404": {
                        "description": "Usuario no encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/catalogo/activos": {
            "get": {
                "tags": [
                    "Catálogo - Activos"
                ],
                "summary": "Obtener una lista paginada de activos",
                "operationId": "2a533e429e352803ee3257b7ba3a8057",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de activos obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Activo"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Catálogo - Activos"
                ],
                "summary": "Crear un nuevo activo",
                "operationId": "7a746ef7d5ea553a4fac5c422b4f455c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "articulo_id",
                                    "ubicacion_id",
                                    "estado"
                                ],
                                "properties": {
                                    "articulo_id": {
                                        "type": "integer"
                                    },
                                    "ubicacion_id": {
                                        "type": "integer"
                                    },
                                    "estado": {
                                        "type": "string",
                                        "enum": [
                                            "operativo",
                                            "mantenimiento",
                                            "fuera_servicio",
                                            "baja"
                                        ]
                                    },
                                    "valor": {
                                        "type": "number",
                                        "format": "float",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Activo creado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Activo"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/catalogo/activos/{id}": {
            "get": {
                "tags": [
                    "Catálogo - Activos"
                ],
                "summary": "Obtener un activo por ID",
                "operationId": "53cad12ec9f7dc36b1e7149f1ca28d58",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalle del activo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Activo"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "404": {
                        "description": "Activo no encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Catálogo - Activos"
                ],
                "summary": "Actualizar un activo existente",
                "operationId": "b4e7b46e00d842db9e747ab12573c572",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "articulo_id": {
                                        "type": "integer"
                                    },
                                    "ubicacion_id": {
                                        "type": "integer"
                                    },
                                    "estado": {
                                        "type": "string",
                                        "enum": [
                                            "operativo",
                                            "mantenimiento",
                                            "fuera_servicio",
                                            "baja"
                                        ]
                                    },
                                    "valor": {
                                        "type": "number",
                                        "format": "float",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Activo actualizado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Activo"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "404": {
                        "description": "Activo no encontrado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Catálogo - Activos"
                ],
                "summary": "Eliminar un activo",
                "operationId": "fcfcf463d3a40a34905888aa60b6eead",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Activo eliminado exitosamente"
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "404": {
                        "description": "Activo no encontrado"
                    },
                    "409": {
                        "description": "Conflicto: No se puede eliminar porque tiene recursos asociados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/catalogo/articulos": {
            "get": {
                "tags": [
                    "Catálogo - Artículos"
                ],
                "summary": "Obtener una lista paginada de artículos",
                "operationId": "6f9db1da20862def8f9f031ccb643c6e",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número de página",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de artículos obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Articulo"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Catálogo - Artículos"
                ],
                "summary": "Crear un nuevo artículo",
                "operationId": "65016e90edbd487dc06816eac8f93d34",
                "requestBody": {
                    "description": "Datos del artículo a crear",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "tipo",
                                    "marca"
                                ],
                                "properties": {
                                    "tipo": {
                                        "type": "string",
                                        "enum": [
                                            "mobiliario",
                                            "equipo"
                                        ]
                                    },
                                    "marca": {
                                        "type": "string"
                                    },
                                    "modelo": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "descripcion": {
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Artículo creado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Articulo"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/catalogo/articulos/{id}": {
            "get": {
                "tags": [
                    "Catálogo - Artículos"
                ],
                "summary": "Obtener un artículo por ID",
                "operationId": "8bbaf219b247018034f4bc1a2b21f7d7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalle del artículo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Articulo"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "404": {
                        "description": "Artículo no encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Catálogo - Artículos"
                ],
                "summary": "Actualizar un artículo existente",
                "operationId": "1ebcccc112b188622fa03279d27d819b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Datos del artículo a actualizar",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "tipo": {
                                        "type": "string",
                                        "enum": [
                                            "mobiliario",
                                            "equipo"
                                        ]
                                    },
                                    "marca": {
                                        "type": "string"
                                    },
                                    "modelo": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "descripcion": {
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Artículo actualizado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Articulo"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "404": {
                        "description": "Artículo no encontrado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Catálogo - Artículos"
                ],
                "summary": "Eliminar un artículo",
                "operationId": "97b8d1b6815c7ee5b8016ff27774d844",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Artículo eliminado exitosamente"
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "404": {
                        "description": "Artículo no encontrado"
                    },
                    "409": {
                        "description": "Conflicto: No se puede eliminar porque tiene activos asociados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/catalogo/materiales-articulo": {
            "get": {
                "tags": [
                    "Catálogo - Materiales de Artículo"
                ],
                "summary": "Obtener una lista paginada de materiales de artículos",
                "operationId": "38f88c3e1503e01c3fa685d477834647",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MaterialArticulo"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Catálogo - Materiales de Artículo"
                ],
                "summary": "Crear un nuevo material de artículo",
                "operationId": "85e9b1d77c30a0e1010d6b3955e6e867",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "articulo_id",
                                    "tipo",
                                    "titulo",
                                    "url"
                                ],
                                "properties": {
                                    "articulo_id": {
                                        "type": "integer"
                                    },
                                    "tipo": {
                                        "type": "string",
                                        "enum": [
                                            "datasheet",
                                            "manual",
                                            "enlace"
                                        ]
                                    },
                                    "titulo": {
                                        "type": "string"
                                    },
                                    "descripcion": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "url": {
                                        "type": "string",
                                        "format": "url"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Material creado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MaterialArticulo"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/catalogo/materiales-articulo/{id}": {
            "get": {
                "tags": [
                    "Catálogo - Materiales de Artículo"
                ],
                "summary": "Obtener un material de artículo por ID",
                "operationId": "5ae5afb25d5d7834ce1c8452b1d23b04",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalle del material",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MaterialArticulo"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "404": {
                        "description": "Material no encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Catálogo - Materiales de Artículo"
                ],
                "summary": "Actualizar un material de artículo",
                "operationId": "61058df28b51674180941ce102e1ef34",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "articulo_id": {
                                        "type": "integer"
                                    },
                                    "tipo": {
                                        "type": "string",
                                        "enum": [
                                            "datasheet",
                                            "manual",
                                            "enlace"
                                        ]
                                    },
                                    "titulo": {
                                        "type": "string"
                                    },
                                    "descripcion": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "url": {
                                        "type": "string",
                                        "format": "url"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Material actualizado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MaterialArticulo"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "404": {
                        "description": "Material no encontrado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Catálogo - Materiales de Artículo"
                ],
                "summary": "Eliminar un material de artículo",
                "operationId": "bb2b4534e6fecb648699a63780a61a79",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Material eliminado exitosamente"
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "404": {
                        "description": "Material no encontrado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/general/notificaciones": {
            "get": {
                "tags": [
                    "General - Notificaciones"
                ],
                "summary": "Obtener una lista paginada de notificaciones del usuario autenticado",
                "operationId": "15c8d39f33074452f2ac3395db90a407",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Notificacion"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "General - Notificaciones"
                ],
                "summary": "Crear una nueva notificación (para el usuario autenticado por defecto, o para otro si tiene permisos)",
                "operationId": "1c5c34f29c7fc3862d76db9e2c0699db",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "usuario_id",
                                    "contenido"
                                ],
                                "properties": {
                                    "usuario_id": {
                                        "description": "ID del usuario al que se enviará la notificación",
                                        "type": "integer"
                                    },
                                    "contenido": {
                                        "description": "Mensaje de la notificación",
                                        "type": "string"
                                    },
                                    "leido": {
                                        "description": "Estado de lectura de la notificación",
                                        "type": "boolean",
                                        "example": false,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Notificación creada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Notificacion"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/general/notificaciones/{id}": {
            "get": {
                "tags": [
                    "General - Notificaciones"
                ],
                "summary": "Obtener una notificación por ID",
                "operationId": "3a521388bda407f2bdc059fa274a90f9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Detalle de la notificación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Notificacion"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado (no es tu notificación o no tienes permisos)"
                    },
                    "404": {
                        "description": "Notificación no encontrada"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "General - Notificaciones"
                ],
                "summary": "Actualizar una notificación",
                "operationId": "6c892d7061ec4174f0e1e781bbea0496",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "usuario_id": {
                                        "description": "ID del usuario al que se enviará la notificación",
                                        "type": "integer"
                                    },
                                    "contenido": {
                                        "description": "Mensaje de la notificación",
                                        "type": "string"
                                    },
                                    "leido": {
                                        "description": "Estado de lectura de la notificación",
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Notificación actualizada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Notificacion"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    },
                    "404": {
                        "description": "Notificación no encontrada"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "General - Notificaciones"
                ],
                "summary": "Eliminar una notificación",
                "operationId": "e13d41177ce42cc93b36962c38e940a7",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Notificación eliminada exitosamente"
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "403": {
                        "description": "Acceso denegado"
                    },
                    "404": {
                        "description": "Notificación no encontrada"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/inventario/proveedores": {
            "get": {
                "tags": [
                    "Inventario - Proveedores"
                ],
                "summary": "Obtener una lista paginada de proveedores",
                "operationId": "301f17217141277d6e740fa974fd5c02",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de proveedores obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Proveedor"
                                            }
                                        },
                                        "links": {
                                            "type": "object"
                                        },
                                        "meta": {
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Inventario - Proveedores"
                ],
                "summary": "Crear un nuevo proveedor",
                "operationId": "fc0a610348e5a2dee5ab929915071eca",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "nombre"
                                ],
                                "properties": {
                                    "nombre": {
                                        "type": "string"
                                    },
                                    "contacto": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "telefono": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Proveedor creado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Proveedor"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado"
                    },
                    "422": {
                        "description": "Error de validación"
                    }
                },
[...]
